.cover{
    position: relative;
    width: 92.5%;
    margin-right: auto;
    margin-left: auto;
}
.cover:hover .cover__overlay{
    opacity: 0.8;
    transition: opacity ease 1s;
}
@media screen and (max-width: 1279px) {
    .cover{
        width: 100%;
    }
}